<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tp5简易留言板</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container">
		<h2>
			<a href="/bbs/show">Tp5简易留言板</a>
<!-- 			<a href="{$Think.server.script_name}/bbs/show">Tp5简易留言板</a>
 -->		</h2>
		<div class="panel panel-default">
			<div class="panel-heading">留言标题</div>
			<!-- <div class="panel-heading">
        		<h3 class="panel-title">{$list.0.title}	</h3>
      		</div> -->
      		<div class="panel-body">
				{$list.0.title}}
			</div>
			<!-- <div class="panel-body">
				{$list.0.content}
			</div>
			<div class="list-group">
				{$list.0.creat_time|date='Y-m-d H:i'}
			</div> -->
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">留言时间</div>
			<div class="panel-body">
				{$list.0.creat_time|date='Y-m-d H:i'}}
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">留言内容</div>
			<div class="panel-body">
				{$list.0.content}
			</div>
		</div>
	<nav aria-label="...">
		<ul class="pager">
			{if condition="$up neq ''"}
			<li class="previous">
				<a href="{$up}"><span aria-hidden="true">&larr;</span>上一页</a> 
			</li>
			{else/}
			<li class="previous disabled"><span aria-hidden="true">上一页没有了</span></li>
			{/if}
			{if condition="$next neq ''"}
			
				<a href="{$next}">下一页<span aria-hidden="true">&rarr;</span></a> 
			</li>
			{else/}
			<li class="next disabled"><span aria-hidden="true">下一页没有了</span></li>
			{/if}
		</ul>
	</nav>
	<div class="panel panel-default">
		<div class="panel-heading">扫码访问当前留言</div>
		<div class="panel-body">
			<img src="http://b.bshare.cn/barCode?site=weixin&url={$Request.root.true}/{$Request.path}">
		</div>
	</div>
		
	</div>
</body>
</html>